@import "./styles/variables.scss";

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin button-default-style {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-weight: 500;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100dvh;
  padding: 1.5rem;
  font-family: var(--font-inter-tight);
}

.header {
  width: 100%;
  display: grid;
  gap: 1rem;
  border-bottom: 1px solid #d7dde9;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;

    span {
      font-size: 1.5rem;
    }
  }

  .welcome {
    font-weight: 500;
    span {
      font-weight: bold;
    }
  }
  .date {
    font-weight: 400;
    color: $color_gray;
  }
}

.main {
  width: 100%;
  margin-bottom: 1.5rem;
  .lists {
    display: grid;
    border: 1px solid #eaecf0;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 0.5rem 2rem 2rem 2rem;
    .list_title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0rem;
      span {
        font-weight: 400;
        color: $color_gray;
      }
    }
    .list {
      .list_items {
        ul {
          display: grid;
          align-items: center;
          gap: 0.5rem;
          .list_item {
            padding: 1rem 0.5rem;
            border: 1px dashed #d7dde9;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .support_text {
              padding-left: 1rem;
              flex: 1;
            }

            .list_item_text {
              flex: 1;
              align-self: flex-start;
            }
            .list_item_text_done {
              flex: 1;
              text-decoration: line-through;
              color: $color_gray;
            }
            .trailing_icon {
              color: $color_gray_secondary;
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
}

@media (min-width: $layout-breakpoint-large) {
  .header {
    margin-bottom: 2.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    .welcome {
      text-align: center;
      span {
        font-size: 1.5rem;
      }
    }
    .date {
      text-align: right;
    }
  }
  .list_item {
    padding: 1rem;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .lists {
      grid-column-start: 2;
      width: 28.125rem;
      ul {
        .list_item {
          padding: 1rem 1rem;
          &:hover {
            border: 1px solid #f7f9fd;
            background-color: #f7f9fd;
          }
        }
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .add_btn {
      grid-column-start: 2;
      width: 28.125rem;
    }
  }
}
