@import "./styles/variables.scss";

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100dvh;
  padding: 1.5rem;
  font-family: var(--font-inter-tight);
}

.main {
  width: 100%;
  margin-bottom: 1.5rem;
  .lists {
    display: grid;
    border: 1px solid #eaecf0;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 0.5rem 2rem 2rem 2rem;
    .list_title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0rem;
      span {
        font-weight: 400;
        color: $color_gray;
      }
    }
    .list {
      .list_items {
        ul {
          display: grid;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-large) {
  .list_item {
    padding: 1rem;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .lists {
      grid-column-start: 2;
      width: 28.125rem;
    }
  }
}
